<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style type="text/css">
	.login-form {
		width: 500px;
    	margin: 100px auto;
	} 
     .login-form form {
    	margin-bottom: 15px;
        background: #e6e9ee;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>
<style type="text/css">
	.register-form {
		width: 500px;
    	margin: 100px auto;
	}
    .register-form form {
    	margin-bottom: 15px;
        background: #e6e9ee;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        padding: 30px;
    }
    .register-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {
        font-size: 15px;
        font-weight: bold;
    } 
 </style>
</head>
<body>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                <a class="navbar-brand" href="#"> IoT Middleware</a>
        </nav>


<div class="login-form">
    <form action="http://localhost:1337/getlog" method="post" id="log">
       
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">View log</button>

        </div>

       
    </form>

</div>

<div class="container">
    <table style="width:100%; display:none" class="table table-striped table-bordered" id="logtable">

        <thead class="thead-dark">
            <tr>
              <th scope="col">IP</th>
              <th scope="col">Request URL</th>
              <th scope="col">Request Body</th>
              <th scope="col">Request Method</th>
              <th scope="col">Time</th>
              <th scope="col">Response Time</th>
              <th scope="col">Response Code</th>
            </tr>
          </thead>
        
    </table>
    </body>
</div>

<script>
    $( "#log" ).submit(function( event ) {
      event.preventDefault();
      var $form = $(this),
        device_id = $form.find( "input[name='did']" ).val(),
        user_name = $form.find( "input[name='uname']" ).val(),
        pass = $form.find( "input[name='pass']" ).val(),
        url = $form.attr( "action" );

      // POST request
      // !!! Important -> for now hardcoded deviceID 'test' -> change this with deviceID that is dynamically fetched.
      var posting = $.post( url, {deviceID:'test'});

      // Response
      posting.done(function(data) {
        $('#logtable').show();

        $.each(data.success, function(i, result){
        // console.log(result);
        $("table.table").append("<tr><td>" + result.IP + "</td><td>" + result.requestUrl +"</td><td>"+result.requestBody+"</td><td>"+result.method+"</td><td>"+result.requestHeaders+"</td><td>"+result.responseTime+"</td><td>"+result.responseCode+ "</td></tr>");
        }) 
				
                    
      });
    });
    </script>

</html>  

